<div class="row">
    <h1>Educacion: </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Estudio 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, sapiente praesentium. Explicabo similique debitis itaque veniam ipsum eligendi deleniti est modi repudiandae dolores! Neque deleniti natus dolorem cupiditate quidem temporibus!</p>
        </ul>
        <ul>
            <li><h1>Estudio 2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, sapiente praesentium. Explicabo similique debitis itaque veniam ipsum eligendi deleniti est modi repudiandae dolores! Neque deleniti natus dolorem cupiditate quidem temporibus!</p>
        </ul>
        <ul>
            <li><h1>Estudio 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, sapiente praesentium. Explicabo similique debitis itaque veniam ipsum eligendi deleniti est modi repudiandae dolores! Neque deleniti natus dolorem cupiditate quidem temporibus!</p>
        </ul>
    </div>
</div>
