<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Juan.jpeg" class="img-fluid" id= "fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Juan Cruz Moyano</p>
        <p>Full Stacj Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores id tenetur ratione esse, repudiandae eum animi quia culpa nisi? Vero quidem esse reprehenderit aliquid odio, dolores deserunt assumenda quod accusantium.</p>
        </span>
    </div>
</div>
